/* LAYOUT */

.figure {
  display: flex;
  align-items: center;
  background-color: var(--figure-bg-color);
}

.figure figcaption {
  margin: var(--length-lg) var(--length-md);
}

.figure > img {
  min-width: 500px;
  min-height: 500px;
}

@media (max-width: 55rem) {
  .figure {
    flex-direction: column;
  }
  .figure > img {
    width: 100%;
    min-width: initial;
    min-height: initial;
  }
}


/* STYLE */

.figure {
  box-shadow: var(--figure-box-shadow);
  border-radius: var(--figure-border-radius);
  overflow: hidden;
}

.figure figcaption {
  font-size: 1rem;
  text-indent: var(--length-lg);
  text-align: justify;
}