/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* TOKENS */
:root {
  /* GLOBAL */
  --color-1: #ccd5ae;
  --color-2: #e9edc9;
  --color-3: #fefae0;
  --color-4: #faedcd;
  --color-5: #d4a373;
  --color-6: hsl(0, 20%, 10%);
  --color-7: hsl(0, 20%, 30%);
  --color-8: hsla(0, 20%, 10%, 20%);
  --font-sans: sans-serif;
  --size-1: 0.5rem;
  --size-2: 1rem;
  --size-3: 2rem;
  /* ALIAS */
  --body-bg-color: var(--color-4);
  --body-text-color: var(--color-6);
  --figure-box-shadow: 0px 0px var(--length-md) var(--length-sm) var(--color-8);
  --figure-bg-color: var(--color-3);
  --footer-bg-color: var(--color-5);
  --footer-box-shadow: 0px 0px var(--length-md) var(--length-sm) var(--color-8);
  --figure-border-radius: var(--size-1);
  --header-bg-color: var(--color-1);
  --header-box-shadow: 0px 0px var(--length-lg) var(--length-sm) var(--color-8);
  --length-lg: var(--size-3);
  --length-md: var(--size-2);
  --length-sm: var(--size-1);
  --link-text-color: var(--color-6);
  --link-text-hover-color: var(--color-7);
}

/* STYLE */

body {
  font-family: var(--font-sans);
}

a {
  color: var(--link-text-color);
}

a:hover {
  color: var(--link-text-hover-color);
}


