/* LAYOUT */

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--length-lg);
}

.main article {
  max-width: 50rem;
}

.main article > h2 {
  margin-bottom: var(--length-md);
}

.main article li:not(:last-child) {
  margin-bottom: var(--length-lg);
}

/* STYLE */

.main {
  background-color: var(--body-bg-color);
}

.main article > ol {
  list-style: none;
}
